body {
  text-align: center;
}

h1 {
  font-size: 50px;
}

#picture {
  max-height: 250px;
  width: auto;
}

.volgende {
  color: #4C834B;
  text-align: center;
  text-decoration: none;
}

#search-bar {
  text-align: center;
}

#search-button {
  text-align: center;
}
