body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
}

#picture {
  max-height: 250px;
}

#error-message {
  color: red;
  margin: 2em;
}

#search-bar {
  text-align: center;
}

#search-button {
  text-align: center;
}

.search {
  display: flex;
}

.volgende {
  color: #4C834B;
  text-align: center;
  text-decoration: none;
}

#countries {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#countries p {
  font-family: "Roboto Light", sans-serif;
  font-size: 15px;
}

#countries img {
  width: 60px;
  height: 40px;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  text-align: left;

}

#countries h1 {
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  color: #566e5c;
}